<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.first_name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= actor.first_name %> </h1>    
    <h1><%= actor.last_name %> </h1> 
    <br>
    <p>RATING: <%= actor.rating %> </p>
    <p>AWARDS: <%= actor.favorite_movie_id %> </p>
</body>
</html>